body {
    margin: 0;
    padding: 1em;
}

h1 {
    font-size: 50px;
}

.back-btn {
    border: 2px solid rgb(79, 132, 149);
    background-color: lightblue;
    color: rgb(35, 86, 103);
    padding: .75em 1.5em;
    border-radius: 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: fit-content;
    transition:
        background-color .25s ease-in-out;
        color .25s ease-in-out;
}

.back-btn:hover {
    background-color: rgb(35, 86, 103);
    color: lightblue;
}